.cmt.song {
  .cmt-wrap {
    .cmt-top {
      .cmt-meta {
        .meta-name {
          color: hsla(0, 0%, 100%, 0.7);
        }

        .meta-date {
          color: hsla(0, 0%, 100%, 0.3);
        }
      }
    }
  }

  .cmt-content {
    color: #fff;
  }
}
